body {
    font-family: 'Assistant', sans-serif;
    /* padding: 20px; */
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
    box-sizing: border-box;
    border-right: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.85);
}

#name {
    /* border-bottom: 1px solid gray; */
}

.header h1 {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

#page2, #page3, #page4, #page5, #page6 {
    display: none;
}

.header h2 {
    font-weight: 300;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: clip;
}

#links {
    display: flex;
}

i.fa {
    font-size: 22px;
}

.link {
    color: #444444;
    text-overflow: clip;
    padding: 8px;
    transition: height 0.3s 300ms, padding 0.3s 300ms, opacity 300ms 600ms, color 300ms;
    transition-timing-function: ease-in-out;
}

.collapsable {
    opacity: 0;
    height: 0;
    padding: 0;
}

.open .collapsable {
    height: 27px;
    opacity: 1;
    padding: 8px;
}

.open .header {
    border-right: 1px solid gray;
}

.link:hover {
    color: #00b4ff;
    border-color: #00b4ff;
}

.header a {
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    box-sizing: border-box;
    width: 0;
    max-height: 90%;
    max-width: 70ch;
    margin: 0;
    overflow: auto;
    opacity: 0;
}
.open .main {
    padding: 8px;
    margin-right: 10%;
    margin-left: 10px;
    width: 60%;
    opacity: 1;
    transition: opacity 600ms 300ms, width 300ms;
}

.main h3 {
    margin: 16px auto;
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.85);
}

.main subh {
    display: block;
    color: #666666;
    font-weight: 300;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.85);
}

.main .text {
    margin: 8px 0;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.85);

}

.content-section {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5); */
    display: block;
    /* max-height: 300px; */
    overflow-y: auto;

}

.picture-section {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.picture-section a {
    transition: 300ms;
    color: rgba(0,0,0,0.3);
}
.picture-section a:hover {
    color: #00b4ff;
}
.picture-section .fa {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.picture-section img {
    border-radius: 4px;
    max-width: 100%;
    max-height: 300px;
    display: block;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.3);
}
.picture-section a img {
    cursor: pointer;
}

.mobile-only {
    display: none;
}

@media (max-width: 320px) and (-webkit-device-pixel-ratio: 1),
(max-width: 640px) and (-webkit-device-pixel-ratio: 2),
(max-device-width: 640px) {
    .mobile-only {
        display: initial;
    }

    .header {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 100%;
        background-color: rgba(255,255,255,0.95);
        border-bottom: 1px solid black;
        transition: 300ms;
    }

    .expanded {
        transform: translateX(100%);
    }

    #menu {
        background-color: rgba(255,255,255,0.95);
        padding: 12px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 100%;
    }

    .collapsable, .open .collapsable {
        height: 27px;
        opacity: 1;
        padding: 8px;
    }

    .main, .open .main {
        opacity: 1;
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}
