body {
    font-family: 'Play', sans-serif;
    /* padding: 20px; */
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-end;
    padding: 8px;
    /* height: 100%; */
    box-sizing: border-box;
    border-right: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.85);
}

#name {
    /* border-bottom: 1px solid gray; */
}

.header h1 {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

#page2, #page3, #page4, #page5 {
    display: none;
}

.header h2 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: clip;
}

#links {
    display: flex;
}
#links a {
    margin-left: 8px;
}

.link {
    text-overflow: clip;
    padding: 8px;
    transition: height 0.3s 300ms, padding 0.3s 300ms, opacity 300ms 600ms, color 300ms;
    transition-timing-function: ease-in-out;
}

.collapsable {
    opacity: 0;
    height: 0;
    padding: 0;
}

.open .collapsable {
    height: 27px;
    opacity: 1;
    padding: 8px 8px 8px 0;
}

.link:hover {
    color: #00b4ff;
    border-color: #00b4ff;
}

.header img {
    height: 30px;
    display: block;
}

.header a {
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    width: 0;
    margin: 20px;
    overflow: auto;
    opacity: 0;
}
.open .main {
    width: 60%;
    opacity: 1;
    transition: opacity 600ms 300ms, width 300ms;
}

.main h3 {
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.85);
}

.page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.page .content-section {
    /* margin: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    /* border-left: 1px solid gray; */
    /* border-top: 1px solid gray; */
    background-color: rgba(255, 255, 255, 0.85);
    display: block;
    /* max-height: 300px; */
    overflow-y: scroll;

}

.page .content-section p {
    font-size: 1.2em;
}

.page .picture-section {
    display: block;
}

.picture-section img {
    max-width: 95%;
    max-height: 300px;
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    cursor: pointer;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.3);
}

@media (max-width: 320px) and (-webkit-device-pixel-ratio: 1),
(max-width: 640px) and (-webkit-device-pixel-ratio: 2),
(max-device-width: 640px) {
    .header {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        display: block;
        text-align: center;
        font-size: 60px;
    }
    .header p {
        display: inline-block;
    }
    .header h2 {
        display: inline-block;
    }
    .header a {
        display: inline-block;
    }
    .header img {
        width: 80px;
        height: 80px;
    }

    #collapse {
        display: none;
    }
    .main h3 {
        font-size: 40px;
    }
    .page {
        -webkit-flex-direction: column-reverse;
    }
    .page .picture-section {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .page .content-section {
        width: 90%;
        font-size: 40px;
    }
}
